<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Neklo_ScrollToTop>
            <version>1.0.0</version>
        </Neklo_ScrollToTop>
    </modules>
    <global>
        <blocks>
            <neklo_scrolltotop>
                <class>Neklo_ScrollToTop_Block</class>
            </neklo_scrolltotop>
            <neklo_scrolltotop_adminhtml>
                <class>Neklo_ScrollToTop_Block_Adminhtml</class>
            </neklo_scrolltotop_adminhtml>
        </blocks>
        <helpers>
            <neklo_scrolltotop>
                <class>Neklo_ScrollToTop_Helper</class>
            </neklo_scrolltotop>
        </helpers>
        <models>
            <neklo_scrolltotop>
                <class>Neklo_ScrollToTop_Model</class>
            </neklo_scrolltotop>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <neklo_scrolltotop>
                    <file>neklo/scrolltotop.xml</file>
                </neklo_scrolltotop>
            </updates>
        </layout>
        <translate>
            <modules>
                <Neklo_ScrollToTop>
                    <files>
                        <default>Neklo_ScrollToTop.csv</default>
                    </files>
                </Neklo_ScrollToTop>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Neklo_ScrollToTop>
                    <files>
                        <default>Neklo_ScrollToTop.csv</default>
                    </files>
                </Neklo_ScrollToTop>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <neklo_scrolltotop>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <frontend>
                <color>#f49c14</color>
                <position>right</position>
            </frontend>
            <display_on>
                <all>1</all>
            </display_on>
        </neklo_scrolltotop>
    </default>
</config>
